<div class="books-panel">
    <h2>Regular</h2>
    <div class="cats-grid">
        <div class="cat-card" [class.obtained]="cat.obtained" *ngFor="let cat of regularCats"
            (click)="toggleObtained(cat)">
            <img src="assets/cats/{{cat.filename}}" alt="Image of {{cat.title_en}}">
        </div>
    </div>

    <h2>Short</h2>
    <div class="cats-grid">
        <div class="cat-card" [class.obtained]="cat.obtained" *ngFor="let cat of shortCats"
            (click)="toggleObtained(cat)">
            <img src="assets/cats/{{cat.filename}}" alt="Image of {{cat.title_en}}">
        </div>
    </div>

    <h2>Thin</h2>
    <div class="cats-grid">
        <div class="cat-card" [class.obtained]="cat.obtained" *ngFor="let cat of thinCats"
            (click)="toggleObtained(cat)">
            <img src="assets/cats/{{cat.filename}}" alt="Image of {{cat.title_en}}">
        </div>
    </div>
</div>