<div class="books-panel">
  <div class="filter-panel">
    <label for="sceneTagFilter">Scene tag:</label>
    <select id="sceneTagFilter" [(ngModel)]="sceneFilter" (change)="onFilterChange(sceneFilter)">
      <option *ngFor="let scene of sceneTags" [value]="scene.id">{{scene.title_en}}</option>
    </select>
  </div>

  <h2>Stories</h2>
  <div class="stories-grid">
    <div class="story-card" [class.obtained]="story.obtained" *ngFor="let story of stories"
      (click)="toggleObtained(story)">
      <img src="assets/bookcovers/{{story.filename}}" alt="Cover of {{story.title_en}}">
    </div>
  </div>

  <h2>Traveler's Notes</h2>
  <div class="stories-grid">
    <div class="story-card" [class.obtained]="story.obtained" *ngFor="let story of travelersNotes"
      (click)="toggleObtained(story)">
      <img src="assets/bookcovers/{{story.filename}}" alt="Cover of {{story.title_en}}">
    </div>
  </div>

  <h2>Side stories</h2>
  <div class="stories-grid">
    <div class="story-card" [class.obtained]="story.obtained" *ngFor="let story of sidestories"
      (click)="toggleObtained(story)">
      <img src="assets/bookcovers/{{story.filename}}" alt="Cover of {{story.title_en}}">
    </div>
  </div>
</div>